doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 = title
		hr
		form(methord='post')
			label Username:
			br
			input(type='text', name='username')
			br
			input(type='submit')